* {
    font-family: 'Alfa Slab One', serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

main {
    width: 100vh;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
    border: 0.5vmin solid black;
    padding-left: 10vmin;
    padding-right: 10vmin;
    border-radius: 4vmin;
}

h1 {
    font-size: 30px;
}

h2 {
    height: 40px;
}

img {
    height: 55vmin;
    width: 50vmin;

}

#gboard {
    margin-top: 1vmin;
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 56vmin;
    border: 0.5vmin solid black;
    line-height: 0%;
    background-color: white;
    border-radius: 4vmin;
}

#sword {
    border: 0.5vmin solid black;
}

#guesses {
    border: 0.5vmin solid black;
    background-color: white;
    border-radius: 4vmin;
}

button {
    justify-self: center;
    width: 15vmin;
    background-color: white;
    color: black;
    border: 0.5vmin solid black;
    border-radius: 4vmin;
    outline: none;
}

input {
    justify-self: center;
    width: 10vmin;
    background-color: white;
    color: black;
    border: 0.5vmin solid black;
    border-radius: 4vmin;
    outline: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    color: green;
}