* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

main {
    width: 150vh;
    height: 100vh;
    background-color: white;
    text-align: center;
    border: 0.5vmin solid black;
    padding-left: 10vmin;
    padding-right: 10vmin;
}

#gboard {
    height: 60vmin;
    border: 0.5vmin solid black;
}

#sword {
    border: 0.5vmin solid black;
}

#guesses {
    border: 0.5vmin solid black;
}