* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

main {
    width: 100vh;
    height: 100vh;
    background-color: white;
    text-align: center;
    border: 0.5vmin solid black;
    padding-left: 10vmin;
    padding-right: 10vmin;
}

h2 {
    height: 40px;
}
img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 400px;
}

#gboard {
    height: 60vmin;
    border: 0.5vmin solid black;
}

#sword {
    border: 0.5vmin solid black;
}

#guesses {
    border: 0.5vmin solid black;
}

button {
    justify-self: center;
    width: 15vmin;
    background-color: white;
    color: black;
    border: 0.5vmin solid black;
    border-radius: 4vmin;
    outline: none;
}

input {
    justify-self: center;
    width: 10vmin;
    background-color: white;
    color: black;
    border: 0.5vmin solid black;
    border-radius: 4vmin;
    outline: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: black;
    color: white;
}